<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>zh-Hans</string>
  <key>CFBundleDisplayName</key><string>GY 输入法 2.0 Preview</string>
  <key>CFBundleExecutable</key><string>GYInputPreview</string>
  <key>CFBundleIconFile</key><string>GYIcon</string>
  <key>CFBundleIdentifier</key><string>wang.shurufa.inputmethod.GYInputPreview</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>GY 输入法 2.0 Preview</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>2.0.1</string>
  <key>CFBundleVersion</key><string>2</string>
  <key>ComponentInputModeDict</key>
  <dict><key>tsInputModeListKey</key><dict>
    <key>wang.shurufa.inputmethod.GYInputPreview.pinyin</key>
    <dict>
      <key>TISInputSourceID</key><string>wang.shurufa.inputmethod.GYInputPreview.pinyin</string>
      <key>TISIntendedLanguage</key><string>zh-Hans</string>
      <key>tsInputModeCharacterRepertoireKey</key><array><string>Hans</string></array>
      <key>tsInputModeDefaultStateKey</key><true/><key>tsInputModeIsVisibleKey</key><true/>
      <key>tsInputModeKeyEquivalentModifiersKey</key><integer>4608</integer>
      <key>tsInputModePrimaryInScriptKey</key><true/><key>tsInputModeScriptKey</key><string>smUnicodeScript</string>
    </dict>
  </dict></dict>
  <key>GYApplicationSupportFolder</key><string>GYInputPreview</string>
  <key>GYReleaseChannel</key><string>2.0-macos-preview</string>
  <key>InputMethodConnectionName</key><string>wang.shurufa.inputmethod.GYInputPreview.Connection</string>
  <key>InputMethodServerControllerClass</key><string>GYInputController</string>
  <key>InputMethodServerDelegateClass</key><string>GYInputController</string>
  <key>LSUIElement</key><true/><key>NSPrincipalClass</key><string>NSApplication</string>
  <key>TICapsLockLanguageSwitchCapable</key><true/>
  <key>TISInputSourceID</key><string>wang.shurufa.inputmethod.GYInputPreview</string>
  <key>TISIntendedLanguage</key><string>zh-Hans</string>
  <key>tsInputMethodCharacterRepertoireKey</key><array><string>Hans</string></array>
</dict>
</plist>
