<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>GY 输入法</string>
  <key>CFBundleExecutable</key>
  <string>GYInput</string>
  <key>CFBundleIdentifier</key>
  <string>wang.shurufa.GYInput</string>
  <key>CFBundleName</key>
  <string>GYInput</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key>
  <string>$(CURRENT_PROJECT_VERSION)</string>
  <key>LSBackgroundOnly</key>
  <true/>
  <key>InputMethodConnectionName</key>
  <string>wang.shurufa.GYInput.Connection</string>
  <key>InputMethodServerControllerClass</key>
  <string>GYInputController</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2026 GY Input Method.</string>
</dict>
</plist>
